{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'asset/css/header.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- Header start -->

        <header>
            <div class="navbar-container">
                <!-- nav 1 start -->
                <div class="nav-1">
                    <a href="">
                        <h2 style="color:red;">RR</h2>
                        <h4>Motors<i id="nav-logoicon" class=""></i></h4>
                    </a>    
                </div>
                <!-- nav 1 end -->
                
                <!-- nav 2 start -->
                <div class="nav-2">
                    {% if user.is_authenticated %}
                    <a href="/home">Home</a>
                    <a href="/products">Product</a>
                    <a href="/viewcart">Cart</a>
                    <a href="/placeorder">Place order</a>
                    <a href="/contact">Contact</a>
                    <span class="search-bar">
                        <button><i style="font-size: 18px;" class="ri-search-line"></i></button>
                        <input type="search" placeholder="Search for Products, Brands and more....">
                    </span>
                    <a href="/logout">Logout</a>
                    {%else%}  
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                    {%endif%}
                </div>
                <!-- nav 2 end -->
            </div>
        </header>

        <!-- Header End -->

    </body>
</html>