<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'asset/css/register.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- navbar start -->
        <div class="login-nav">
            <a class="login-nav-a" href="/home">Home</a>
            <div class="nav-1">
                <a href="">
                    <h2>RR</h2>
                    <h4>Motors<i id="nav-logoicon" class=""></i></h4>
                </a>    
            </div>
            <a class="login-nav-a" href="">Menu</a>
        </div>
        <!-- navbar end -->

        <!-- login form container start -->
        <div class="loginform-container">
            <!-- form start -->
            <div class="form">
                <div class="heading">
                    <h2>Sign Up</h2>
                    <span id="span">
                        <a href=""><i class="ri-facebook-fill"></i></a>
                        <a href=""><i class="ri-instagram-line"></i></a>
                    </span>
                </div>
                <div class="userandpassform">
                    {% if errmsg %}
                    <div class="alert alert-danger" style="color: red">
                        {{errmsg}}
                    </div>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <table border="0px" align="center" cellpadding="4px" width="80%">
                            <!--<tr>
                                <td><strong>Firstname</strong></td>
                                <td><strong>Lastname</strong></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="fname" id="firstname" placeholder="Enter your First Name"></td>
                                <td><input type="text" name="lname" id="lastname" placeholder="Enter your Last Name"></td>
                            </tr>-->
                            <tr>
                                <td>Email</td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="email" name="uname" id="email" placeholder="Enter your Email Id"></td>
                            </tr>
                            <!--<tr>
                                <td><strong>Username</strong></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="text" name="user" id="username" placeholder="Enter Username"></td>
                            </tr>-->
                            <tr>
                                <td><strong>Password</strong></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="password" name="upass" id="password" placeholder="Enter Password"></td>
                            </tr>
                            <tr>
                                <td><strong>ConfirmPassword</strong></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="password" name="ucpass" id="password" placeholder="Enter Password"></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><input type="submit" name="btn" id="btn" value="Sign Up"></td>
                            </tr>
                        </table>
                        {% if success%}
                          <div class="alert alert-success" style="color: red">
                            {{success}}
                            </div>
                          {%endif%}
                    </form>
                    <p style="margin-left: 30px; font-size: 14px;">Already have an account?&nbsp;&nbsp;<a style="text-decoration: none; font-weight: bold; color: rgb(39, 154, 226);" href="/login">Sign In</a></p>
                </div>
            </div>
            <!-- form end -->

            <!-- logo img start -->
           <!--<div class="register-link-div">
                <img src="asset/images/kitchenlogo.png" alt="">
            </div>--> 
            <!-- logo img end -->
        </div>
        <!-- login form container end -->
    </body>
</html>